body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
	margin: 0;
}

.container {
    max-width: 800px;
	min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

canvas{
	width:800px;
	max-width:100%;
	height:auto;
}

h1 {
  margin-bottom: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input-label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

input[type="file"] {
  font-size: 0.9rem;
}

select, input[type="range"] {
  font-size: 0.9rem;
}

#downloads{
	display:none;
}
button {
    font-size: 1.1rem;
	padding: 20px;
    border: none;
    color: #fff;
    background-color: #D46A4D;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
	margin-top:20px;

}

button:hover {
    background-color: #E87A60;
}

#confirm-button:hover {
  background-color: #207cd1;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#bear-animation {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

#progress-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#progress {
  width: 200px;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.watermark-thumbnail {
  width: 150px;  /* Adjust the size as needed */
  height: auto;
  margin: 5px;
  cursor: pointer;
  padding:20px;
}

.selected {
  border: 2px solid #D46A4D; /* use whatever color you prefer */
}

#watermark-thumbnails{
	display:flex;
}

.watermark-thumbnails{
  display: inline-block;
  position: relative;
  margin: 10px;
  pointer: hand;
}

.remove-thumbnail {
position: relative;
    border-radius: 0;
    background: grey;
    color: white;
    display: inline;
    cursor: pointer;
    margin-top: 0;
    height: 33px;
    font-size: 12px;
    padding: 10px;
}

.input-wrapper {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
	
    padding: 20px;

}

.input-label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #ddd;
}

input[type="file"], select, input[type="range"] {
    font-size: 0.9rem;
    background-color: #555;
    color: #fff;
    border: none;
}

button.accordion {
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  border-radius: 0px;
}

button.accordion::after {
  content: ' ▼';
  position: absolute;
  right: 10px;
}

button.accordion.active, button.accordion:hover {
  background-color: #20A4A4;
}

button.accordion.active::after {
  content: ' ▲';
}

div.panel {
  padding: 0 18px;
  display: none;
  background-color: #333;
  overflow: hidden;
  padding: 20px;
}

.file-input-container {
  position: relative;
  width: 200px;
  height: 40px;
}

.file-input-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e90ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.file-input-label:hover {
  background-color: #207cd1;
}

.file-input-label:active {
  background-color: #1c7ab7;
}

#image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#file-input-text {
  pointer-events: none;
}

footer {
  width: 100%;
  background-color: #1e90ff;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #ffdead;
}

#preview-container{
		padding:30px;
}

#downloads{
	border: 1px solid #eee;
	padding:20px;
	margin-top:20px;
	background-color: #333;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .input-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input-label {
    margin-bottom: 0;
  }

  select, input[type="range"] {
    font-size: 0.8rem;
  }

  #confirm-button {
    font-size: 0.9rem;
  }
}